## Copyright 2015-2016 Robin Steel
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.

<!DOCTYPE html> 
<html>
<head>
<title>Court Reservation Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="https://s3-${region}.amazonaws.com/${squashWebsiteBucket}/app/sqawsh.min_${revvingSuffix}.css">
</head>
<body>
<h2>You are reserving court $input.params('court') for $util.urlDecode($input.params('slotLong')) on $util.urlDecode($input.params('dateLong'))</h2>
<form class="reservation-form" action=https://${context.apiId}.execute-api.${region}.amazonaws.com/Squash/bookings method="POST" autocomplete="off">
<div class="form-container">
<label for="players">Players names:</label>
<input type="text" name="name" id="players" required pattern="^[a-zA-Z\.\- \/]+$" maxlength=30 placeholder="e.g. A.Shabana/J.Power">
<br>
<label for="password">Password:</label>
<input type="password" name="password" id="password" required placeholder="enter password">
## Include parameters here so we can make the reservation correctly
<input type=hidden name=redirectUrl value="http://${squashWebsiteBucket}.s3-website-${region}.amazonaws.com?selectedDate=${util.urlDecode($input.params('date'))}.html">
<input type=hidden name=apiGatewayBaseUrl value="https://${context.apiId}.execute-api.${region}.amazonaws.com/${context.stage}">
<input type=hidden name=putOrDelete value="PUT">
<input type=hidden name=court value="$util.urlDecode($input.params('court'))">
<input type=hidden name=courtSpan value="1">
<input type=hidden name=slot value="$util.urlDecode($input.params('slot'))">
<input type=hidden name=slotSpan value="1">
<input type=hidden name=date value="$util.urlDecode($input.params('date'))">
<button type="submit" class="button-submit">Submit squash court reservation</button>
</div>
</form>
<form action="http://${squashWebsiteBucket}.s3-website-${region}.amazonaws.com" method="GET">
<input type=hidden name="selectedDate" value="${input.params('date')}.html">
<button type="submit" class="button-default">Return to bookings table without reserving the court</button>
</form>
</body>
</html>