sudo: required
dist: trusty
language: node_js
node_js:
  - "node"
addons:
  apt:
    packages:
      - oraclejdk8
install:
  - npm install
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm start > /dev/null &
  - sleep 1 # give server time to start
script:
  - ./gw build
  - node_modules/.bin/karma start karma.conf.js --no-auto-watch --single-run --reporters=dots --browsers=Firefox
notifications:
  email:
  - robinsteel19@outlook.com